<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Web App</title>
</head>
<body>
    <h1>Bienvenue dans la page de l'application Front du Projet</h1>
    <p>Vous vous sentez mal au travail?</p>
    <p>Plaignez-vous dans le champ ci-dessous</p>
    <p>Et au lieu d'améliorer vos conditions de travail voici des citations &#128526;</p>

    <p th:text="${quote}" data-quote-id=""></p>

    <form action="#" th:action="@{/conversation}" th:method="post">
        <label>Demande:
            <input type="text" name="demande">
        </label>
        <br/>
        <label>User:
            <input type="text" name="username">
        </label>
        <br/>
        <button type="submit">Submit</button>
    </form>

    <br/>
    <a href="/conversations">Page de liste des conversations</a>

    <div id="error-message" style="color: red;"></div>
</body>
</html>
